@import url('https://fonts.googleapis.com/css?family=Lato');


/* ---------- GENERAL STYLES ----------  */

header h1 {    
    font-size: 2rem;
    text-transform: uppercase;
    color: #f8fdff;
    margin: 0;
    padding: 10px 0px 10px;
}

header p {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #b4dcff;
    margin: 0;
    padding: 0px 10% 15px;
    font-weight: 400;

}

p {
}

ul {
    padding: 0 10px;
}

img.fill {
    width: 100%;
}



.skipnav:not(:focus) {
    position: absolute;
/*    left: -1000em;*/
/*    top:0;*/
    
}


.skipnav:focus {
    color: purple;
    background: pink;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    padding: inherit;
    z-index: 100;
    display: block;

}

*:focus {
    box-sizing: border-box;
    background: pink;
    color: purple;
    box-shadow: 0 0 5px rgb(255, 14, 246);
/*    outline: none;*/

}


/*    visibility: hidden;*/

/* ---------------------------------  
              index.html      
  --------------------------------- */



/* ---------- body styles ----------  */

aside {
    position: sticky;
/*    left: 0px;*/
    top: 70px;
    left: 5px;
    width: 132px;
    z-index: 0;
/*    background-color: white;*/
    padding-left: 40px;
    margin-bottom: -250px;
}

aside ul {
    display: block;
    
}

aside li a {
/*    text-decoration: none;*/
    color: #3f6b8a;
}

body {
    font-family: avenir, 'Lato', 'Roboto', sans-serif;
    margin: 0px;
    background-color: #eefaff;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}


header {
    text-align: center;
    background-color: rgb(24, 115, 181);
    padding: 15px;
}

main {
    padding: 0% 10%;
    margin: auto;
    max-width: 600px;
    padding-bottom: 100px;
    /*  this is for footer to breather  */

    /*    new experiment:     ;*/
    /*
    background-color: white;
    border: solid 10px white;
    position: relative;
    top: -50px;
*/

}

main ul {
    margin-top: 0;
    padding-left: 40px;
    margin-bottom: 15px;
}


.hero_container {
/*    object-fit: contain;*/
     overflow: hidden;
    max-height: 60vh;
     z-index: 2;
    background: linear-gradient(to bottom left, rgb(187, 22, 22), rgb(0, 147, 255));
/* default value: image is centered*/
/*    object-position: 50% 50%; */
    /* positioned top left of the content box */
    object-position: 40% 40%; 

/*     border:5px solid*/
}

img.hero {
    object-fit: cover;
    transform: scale(1.1);
    display: block;
    width: 100%;    
    opacity: 0.6;
    z-index: 2;
    transition: transform .2s;
    height: 50vh;
    object-position: 50% 24%;
}

img.hero:hover {
    transform: rotate(2deg) scale(1.3);
    
}





/* text */

h1 {
    font-size: 1rem;
    
}

h2 {
    font-size: 1.3rem;
    margin: 35px 0px 5px;
    padding: 0px 0px 5px 0px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1873b5;
    border-bottom: 3px solid #6ec6ec;
}

h2:target {
  padding-top: 65px; 
  margin-top: -50px;
}

p {
    margin: 0;
    padding: 5px 0px 20px 0px;
}


/*}*/



/* ---------- Nav bar styling ----------*/
nav {
    background-color: #1873b5;
    padding: 9px 0px;
    position: -webkit-sticky;  
    position: sticky;
    top: 0;
    z-index: 10;


}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

nav a {
    color: #3f6b8a;
    font-weight: 500;
    display: block;
    text-decoration: none;
}

nav li {
    background-color: azure;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    width: 96px;
    line-height: 30px;
    margin: 0 5px;
    
}

nav li.selected {
    background-color: #4cc7ff;
}

nav .selected > a {
    color: azure;

}

nav li:hover {
    background-color: rgba(76, 199, 255, 0.47);
    color: azure;
}

nav a:hover {
    color: white;
}


/* ---------- styling footer ---------- */

footer {
    color: white;
    background-color: #1873b5;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a {
    color: white;
    /*    display: none;*/
}



.footer-icons {
    /*    background-color: aqua;*/
    color: white;
    width: 50%;
    max-width: 600px;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
}

footer i {
    /*    display: block;*/
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


footer i:hover {
    background-color: #02528c;
}

.test-link {
    text-align: center;
    color: aliceblue;
    width: 100%;
}







/* ---------------------------------  
            calendar.html      
  --------------------------------- */
.bg-image-calendar {
    position: relative;
    width: 100vw;
/*    height: 100vh;*/
    background: linear-gradient(to bottom left, rgba(9, 50, 78, 0.85), rgba(0, 105, 183, 0.88), #002242b8), url(../images/hero.jpg) center center no-repeat;
    background-size: cover;
}


main.bg-image h2,main.bg-image p,main.bg-image a,main.bg-image ul {
    color: white;
}

.calendar-desktop {
    display: block;
    width: 100%;
    height: 60vh;        
}

.calendar-mobile {
    display: none;
    width: 100%;
    height: 60vh;
}




/* ---------------------------------  
            maps.html      
  --------------------------------- */
.google-maps {
    padding: 20px 0px;
    width: 100%;
    height: 50vh;
    min-height: 400px;
}

.google-maps iframe {
    height: 100%;
    width: 100%;
}

.bg-image-maps {
    position: relative;
    background: linear-gradient(rgb(0, 70, 122), rgba(0, 59, 102, 0.29));
    background-size: cover;
}

.bg-image-maps {
    position: relative;
    width: 100vw;
    background: linear-gradient(to bottom left, rgba(16, 98, 156, 0.85), rgba(0, 105, 183, 0.88), #002242b8),url('../images/locations/flint1.jpg') center center no-repeat;
    background-size: cover;
    

}

.bg-image-maps:after {
    content: "";
    background: url('../images/locations/flint1.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}



/* ---------------------------------  
            in-action.html      
  --------------------------------- */
.grid-container {    
    padding-top: 5px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
/*    background-color: #2196F3;*/
/*      padding: 10px;*/
}

.grid-item {
    background-color: #02528c;
/*    border: 1px solid rgba(0, 0, 0, 0.8);*/
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 250px;
    
    
}

.grid-item img {    
    transition: transform .2s;
    object-fit: cover;
    max-width: 404px;
}

.grid-container img:hover {
    transform: scale(1.15) rotate(5deg) ;    
}

.instagram {
    margin: auto;
}

.full_width {
    width: 100%;
    max-width: none;
}

.block {
    display: inline-block;
    width: 300px;
}



div .tap2shop_frame {
    display: none !important;
}

#pixlee_container > iframe  li  {
    display: none;
}




/* ---------------------------------  
            media querries      
  --------------------------------- */

/* not widescreen break point */
@media screen and (max-width:1000px) {
    
    aside {
        display: none;
    }
    
}

/* tablet break point */
@media screen and (max-width:768px) {
    
    nav {
        background-color: #1873b5;
    }

    h2 {
        text-align: center;
    }

    img.hero {
    }
    
    .calendar-desktop {
        height: 50vh;
    }
    
    header {
        padding: 0px 0px;
    }
    
    header h1 {
        padding: 13px 5px 13px 5px;

    }
    
    .grid-container {
    padding-top: 5px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    /* padding: 10px;*/
}


}

/* mobile breakpoint */
@media screen and (max-width:600px) {
    
    .calendar-desktop {
        display: none;
    }
    
    .calendar-mobile {
        display: block;
        height: 60vh;
    }

    img.hero {
/*        bottom: 2px;*/
/*        height: 100%;*/
    }


    img {
        transform: none !important;
      }
    
    nav {
        margin: 0;
        padding: 0;
        box-shadow: 0px 16px 25px -15px rgb(0, 55, 95);
        z-index: 10;
    }

    nav ul {
        padding: 0px;
        margin: 0px 0px;        
    }

    nav li {
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
        height: 38px;
        background-color: #1873b5;
        padding: 0;
        margin: 0;
        border-radius: 0;
        width: 25%;
    }
    
    nav a {
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        font-size: 0.7rem;
    }

    footer i {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    header h1 {
        font-size: 1.8rem;
    }

}

/* svery mall screen breakpoint */
@media screen and (max-width:450px) {
    .grid-container {
        padding-top: 5px;
        padding-bottom: 10px;
        grid-template-columns: 1fr;
        /* padding: 10px;*/
    }
    
    .grid-item {
        object-fit: cover;
        
    }


}


@media (prefers-reduced-motion: reduce) {
  * {
    transform: none !important;
  }
}
