/* body styles  */

body {
    font-family: avenir;
    margin: 0px;
    background-color: #eefaff;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}


header {
    text-align: center;
    background-color: rgb(24, 115, 181);
}

main {
    padding: 0% 10%;
    margin: auto;
    max-width: 700px;
    padding-bottom: 100px;  /*  this is for footer to breather  */
    
/*    new experiment:     ;*//*
    background-color: white;
    border: solid 10px white;
    position: relative;
    top: -50px;
*/

}

.hero_container {
    overflow: hidden;
    max-height: 50vh;
    z-index: -2;
/*    width: 100vw;*/
    /*        border:5px solid*/
}

img.hero {
/*    object-fit: contain;*/
    position:  relative;
    bottom: 10vw;
/*    transform: scale(1.1);*/
    display: block;
    width: 100%;
    transition: transform .2s;
}

img.hero:hover {
    transform: rotate(1deg) scale(1.1);
}





/* styling footer */

footer {
    color: white;
    background-color: #1873b5;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a {
    color: white;
/*    display: none;*/
}



.footer-icons {
/*    background-color: aqua;*/
    color: white;
    width: 50%;
    max-width: 600px;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
}

footer i {
/*    display: block;*/
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


footer i:hover {
    background-color: #02528c;
}

.test-link {
    text-align: center;
    color: aliceblue;
    width: 100%;
}



/* text */

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #f8fdff;
    margin: 0;
    padding: 10px 0px 10px;
}

h2 {
    margin: 35px 0px 5px;
    padding: 0px 0px 5px 0px ;
    text-transform: uppercase;
    font-weight: 700;
    color: #1873b5;
    border-bottom: 3px solid #6ec6ec;
}

h3 {
    text-transform: uppercase;
    color: #b4dcff;
/*    background-color: rgba(24, 115, 181, 0.32);*/
    margin: 0;
    padding: 0px 10% 15px;
}

p {
    margin: 0;
    padding: 5px 0px 20px 0px;  
}


/*}*/








/* Nav bar styling */
nav {
    background-color: hsl(205, 56%, 53%);
    padding: 1px 0px;
    
}

nav ul {
/*        position: fixed;     if you want it sticky */
    display: flex;
    justify-content: center;
    padding: 0 10%;
    margin: 5px 0;
    /*    align-content: stretch;*/
    /*    text-align: center;*/
}

nav a {
    color: black;
    font-weight: 500;
    display: block;
    text-decoration: none;
}

nav li {
    background-color: azure;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    width: 145px;
    line-height: 30px;
    margin: 5px 5px;
}

nav li.selected {
    background-color: #4cc7ff;
}

nav .selected > a {
    color: azure;

}

nav li:hover {
    background-color: rgba(76, 199, 255, 0.47);
    color: azure;
}

nav a:hover {
    color: white;
}



@media screen and (max-width:768px) {
    nav {
        background-color: #ffce00;
    }

    .hero {
        
    }

    h2 {
        text-align: center;
    }
    
    img.hero {
        transform: scale(1.1);
        position:  relative;
        bottom: 4vw;

    }
    

}

@media screen and (max-width:489px) {

    nav {
        background-color: #ff4e00;
    }

    nav ul {
        flex-wrap: wrap;
    }
    
    footer {
/*        padding: 10px 0;*/
/*        height: 20px;*/
        font-size: 0.7rem;
/*        position: relative;*/
    }
    
    footer i {
        padding-top: 10px;
        padding-bottom: 10px;

    }
    
    
    h1 {
        font-size: 2rem;
    }



}


/* MAPS SPECIFIC CSS */
.google-maps {
    padding: 20px 0px
}


.instagram {
    margin: auto;
}

.full_width {
    width: 100%;
    max-width: none;
}

.block {
    display: inline-block;
    width: 300px;
}





