@import url('https://fonts.googleapis.com/css?family=Roboto');



/* ---------------------------------  
              index.html      
  --------------------------------- */



/* ---------- body styles ----------  */

body {
    font-family: avenir;
/*    font-family: 'Roboto', sans-serif;*/
    margin: 0px;
    background-color: #eefaff;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}


header {
    text-align: center;
    background-color: rgb(24, 115, 181);
}

main {
    padding: 0% 10%;
    margin: auto;
    max-width: 700px;
    padding-bottom: 100px;
    /*  this is for footer to breather  */

    /*    new experiment:     ;*/
    /*
    background-color: white;
    border: solid 10px white;
    position: relative;
    top: -50px;
*/

}

main ul {
    margin-top: 0;
}


.hero_container {
    overflow: hidden;
    max-height: 50vh;
    z-index: -2;
    /*    width: 100vw;*/
    /*        border:5px solid*/
}

img.hero {
        object-fit: contain;
    position: relative;
    bottom: 8vw;
    transform: scale(1.1);
    display: block;
    width: 100%;
    transition: transform .2s;
}

img.hero:hover {
    transform: rotate(2deg) scale(1.3);
}





/* ---------- styling footer ---------- */

footer {
    color: white;
    background-color: #1873b5;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a {
    color: white;
    /*    display: none;*/
}



.footer-icons {
    /*    background-color: aqua;*/
    color: white;
    width: 50%;
    max-width: 600px;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
}

footer i {
    /*    display: block;*/
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


footer i:hover {
    background-color: #02528c;
}

.test-link {
    text-align: center;
    color: aliceblue;
    width: 100%;
}



/* text */

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #f8fdff;
    margin: 0;
    padding: 10px 0px 10px;
}

h2 {
    margin: 35px 0px 5px;
    padding: 0px 0px 5px 0px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1873b5;
    border-bottom: 3px solid #6ec6ec;
}

h3 {
    text-transform: uppercase;
    color: #b4dcff;
    /*    background-color: rgba(24, 115, 181, 0.32);*/
    margin: 0;
    padding: 0px 10% 15px;
}

p {
    margin: 0;
    padding: 5px 0px 20px 0px;
}


/*}*/



/* ---------- Nav bar styling ----------*/
nav {
    background-color: hsl(205, 56%, 53%);
    padding: 1px 0px;
/*    Safari */
    position: -webkit-sticky;  
    position: sticky;
    top: 0;
    z-index: 10;


}

nav ul {
    /*    position: sticky;     if you want it sticky */
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

nav a {
    color: #3f6b8a;
    font-weight: 500;
    display: block;
    text-decoration: none;
}

nav li {
    background-color: azure;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    width: 96px;
    line-height: 30px;
    margin: 0 5px;
    
}

nav li.selected {
    background-color: #4cc7ff;
}

nav .selected > a {
    color: azure;

}

nav li:hover {
    background-color: rgba(76, 199, 255, 0.47);
    color: azure;
}

nav a:hover {
    color: white;
}





/* ---------------------------------  
            calendar.html      
  --------------------------------- */
.bg-image-calendar {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, rgba(22, 118, 187, 0.73), rgba(13, 134, 222, 0.28), transparent), url('../images/hero.jpg') center center no-repeat;
    background-size: cover;
}



/* ---------------------------------  
            maps.html      
  --------------------------------- */
.google-maps {
    padding: 20px 0px
}

.bg-image-maps {
    position: relative;
    background: linear-gradient(rgb(0, 70, 122), rgba(0, 59, 102, 0.29));
    background-size: cover;
}

.bg-image-maps:after {
    content: "";
    background: url('../images/locations/flint1.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}



/* ---------------------------------  
            in-action.html      
  --------------------------------- */
.grid-container {
    padding-top: 5px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
/*    background-color: #2196F3;*/
/*      padding: 10px;*/
}

.grid-item {
    background-color: #02528c;
/*    border: 1px solid rgba(0, 0, 0, 0.8);*/
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}

.grid-item img {
    max-height: 250px;
/*    max-height: 200px;*/
    
    transition: transform .2s;
    object-fit: cover;
}

.grid-container img:hover {
    transform: scale(1.15) rotate(5deg) ;    
}

.instagram {
    margin: auto;
}

.full_width {
    width: 100%;
    max-width: none;
}

.block {
    display: inline-block;
    width: 300px;
}









/* ---------------------------------  
            media querries      
  --------------------------------- */

@media screen and (max-width:768px) {
    header {
        padding: 5%;
    }
    
    nav {
        background-color: #ffce00;
    }

    .hero {
        transform: scale(1.2);
    }

    h2 {
        text-align: center;
    }

    img.hero {
        position: relative;
        bottom: -2vw;

    }


}

@media screen and (max-width:489px) {

    nav {
        padding: 1px;
        background-color: #ff4e00;
    }

    nav ul {
        flex-wrap: wrap;
        padding: 1px;
        margin: 5px 1px;
        
    }

    nav li {
        margin: 4px;
        width: 69px;
        
    }

    footer {
        font-size: 0.7rem;
    }

    footer i {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    h1 {
        font-size: 2rem;
    }

}